<div class="container">
    <div class="row">

		<h3>Admin page</h3>

			<a class="btn btn-info btn-xs" href="/admin/book/index">Book management</a>
			<a class="btn btn-info btn-xs" href="/admin/vocabulary/index">Vocabulary management</a>
			<a class="btn btn-info btn-xs" href="/admin/search/index">Search management</a>
    </div>
</div>
