<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2>learning group</h2>

                <div class="col-sm-2 invite">
                    <div class="row">
                        <h3><%=__("Lesson learning")%></h3>
                    </div>
                    <div class="row">
                        <div id='cssmenu-learngroup'>
                            <ul>
                                <li><a href='#'><%=__("Lesson learning")%> 1</a></li>
                                <li class='has-sub'><a href='#'><%=__("Lesson learning")%> 2</a>
                                    <ul>
                                        <li class='has-sub'><a href='#'><%=__("Sub Lesson learning")%></a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning</a></li>
                                                <li><a href='#'>Sub Lesson learning </a></li>
                                            </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'>Sub Lesson learning</a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning </a></li>
                                                <li><a href='#'>Sub Lesson learning </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='#'>Lesson learning 3</a></li>
                                <li><a href='#'>Lesson learning 4</a></li>
                                <li><a href='#'>Lesson learning 1</a></li>
                                <li class='has-sub'><a href='#'>Lesson learning 2</a>
                                    <ul>
                                        <li class='has-sub'><a href='#'>Sub Lesson learning </a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning </a></li>
                                                <li><a href='#'>Sub Lesson learning </a></li>
                                            </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'>Sub Lesson learning</a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning 2.2.1</a></li>
                                                <li><a href='#'>Sub Lesson learning 2.2.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='#'>Lesson learning 3</a></li>
                                <li><a href='#'>Lesson learning 4</a></li>
                                <li><a href='#'>Lesson learning 1</a></li>
                                <li class='has-sub'><a href='#'>Lesson learning 2</a>
                                    <ul>
                                        <li class='has-sub'><a href='#'>Sub Lesson learning 2.1</a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning 2.1.1</a></li>
                                                <li><a href='#'>Sub Lesson learning 2.1.2</a></li>
                                            </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'>Sub Lesson learning 2.2</a>
                                            <ul>
                                                <li><a href='#'>Sub Lesson learning 2.2.1</a></li>
                                                <li><a href='#'>Sub Lesson learning 2.2.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='#'>Lesson learning 3</a></li>
                                <li><a href='#'>Lesson learning 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 invite">
                    <h3 class="text-center">N3 vocabulary learning group</h3>

                    <div class="abc" style="background-color: rgba(61, 140, 204, 0.39); min-height: 600px"></div>
                    <!-- Comment-->
                    <div class="comment">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Comments</h3>
                            </div>
                            <div class="col-sm-3">
                                <a href="" class="view-comment">View more comments</a>
                            </div>
                            <div class="col-sm-3">
                                <a href="" class="view-comment">Hide some comments</a>
                            </div>
                        </div>
                        <div class="row comment-items">
                            <div class="col-sm-1 col-xs-1">
                                <img src="/images/group-friends/masonry_05-400x400.jpg"/>
                            </div>
                            <div class="col-sm-11">
                                <h4>Nguyễn Hoàng Nam</h4>

                                <div class="comment-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="row comment-items">
                            <div class="col-sm-1 col-xs-1">
                                <img src="/images/group-friends/masonry_05-400x400.jpg"/>
                            </div>
                            <div class="col-sm-11">
                                <h4>Nguyễn Hoàng Nam</h4>

                                <div class="comment-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit.
                                </div>
                            </div>
                        </div>
                        <div class="row comment-items">
                            <div class="col-sm-1 col-xs-1">
                                <img src="/images/group-friends/masonry_05-400x400.jpg"/>
                            </div>
                            <div class="col-sm-11">
                                <h4>Nguyễn Hoàng Nam</h4>

                                <div class="comment-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit.
                                </div>
                            </div>
                        </div>

                    </div>
                    <form action="" method="">
                        <textarea rows="5" class="comment-area"></textarea>
                        <button type="button" class="btn btn-danger">Send comment</button>
                    </form>

                    <!-- End comment -->

                </div>
                <div class="col-sm-2 invite">
                    <div class="row">
                        <h3>Invite Friends</h3>

                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Nguyễn Hoàng Nam</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Trần Đức Lương</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Chí Văn Phèo</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Lê Thị Nở</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Trần việt Hoàng</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Lê Hải Nam</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Lê hảo Hảo</a>
                            </div>
                        </div>
                        <div class="invite-member clearfix">
                            <div class="col-xs-4">
                                <a><img src="/images/member/1.jpg"/> </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="">Lê Hải Nam</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>