<div class="container">
    <div class="row">
        <form action="createArticle" enctype="multipart/form-data" method="post" id="createArticleForm">
            <div class="create-article">
                <div class="col-sm-12">
                    <label class="lb-create-ar lead">Create Article</label>
                    <hr>
                </div>
                <div class="col-sm-1">
                    <label>subject</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" placeholder="subject" name="subject">
                </div>
                <div class="col-sm-1">
                    <label>content</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id=""  placeholder="content" name="content" row="3"></textarea>
                </div>
                <div class="col-sm-1">
                    <label>explaination</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id="" placeholder="explaination" name="explaination" row="3"></textarea>
                </div>
                <div class="col-sm-1">
                    <label>translation</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id=""  placeholder="translation" name="translation" row="3"></textarea>
                </div>
                <div class="col-sm-1">
                    <label>level</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" placeholder="level" name="level">
                </div>
                <div class="col-sm-1">
                    <label>tag</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" placeholder="tag" name="tag">
                </div>
                <div class="col-sm-1">
                    <label>category</label>
                </div>
                <div class="col-sm-11">
                    <select name="category" class="form-control txt-box">
                        <option value="listening">listening</option>
                        <option value="talking">talking</option>
                        <option value="reading">reading</option>
                        <option value="writing">writing</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <label>Video</label>
                </div>
                <div class="col-sm-11">
                    <input type="file" name="video" multiple="multiple" accept="video/*" class="form-control txt-box">
                </div>
                <div class="col-sm-1">
                    <label>audio</label>
                </div>
                <div class="col-sm-11">
                    <input type="file" name="audio" multiple="multiple" accept="audio/*" class="form-control txt-box">
                </div>
                <div class="col-sm-1">
                    <label>Image</label>
                </div>
                <div class="col-sm-11">
                    <input type="file" name="img" multiple="multiple" accept="image/*" class="form-control txt-box">
                </div>
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-success btn-add-ar">Add Article</button>
                </div>
            </div>
        </form>
    </div>
</div>