    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/styles/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function(){

        var beforeId = -1;
        var beforeWord = "";
        var afterId = -1;
        var collRes = [];

        $("td").click( function(){
          //Lay thong tin hien tai TD-ID
          var currId = $(this).attr("id");
          
          if ($.inArray(currId, collRes) < 0){
              //Lay thong tin hien tai TD-TEXT
              var currWord = $.trim($("#input" + currId).val());
              var currMean = $.trim($("#" + currId).text());

              if (beforeId == -1 ) {
                  $(this).css({'background-color':'rgb(0,128,0)','color':'rgb(255,255,255)'});
                  beforeId = currId;
                  beforeWord = currWord;        
              } else {
                  //Neu lai tich lai vao thang cu~ thi se khong fan ung gi
                  if (currId == beforeId) {
                    $("#" + beforeId).css({'background-color':'rgb(255,255,255)','color':'rgb(0,0,0)'});
                  } else {
                    //Neu nghia khac voi tu da chon
                    if (beforeWord != currWord && beforeWord != currMean) {
                      $("#" + beforeId).css({'background-color':'rgb(255,255,255)','color':'rgb(0,0,0)'});
                      $("#" + currId).css({'background-color':'rgb(255,255,255)','color':'rgb(0,0,0)'});

                    //Neu nghia dung voi tu da chon
                    } else {
                      afterId = currId;
                      $("#" + beforeId).css({'background-color':'rgb(255,255,255)','color':'rgb(217,217,217)'});
                      $("#" + afterId).css({'background-color':'rgb(255,255,255)','color':'rgb(217,217,217)'});
                      collRes.push(beforeId);
                      collRes.push(afterId);
                    }
                  }

                  beforeId = -1;
                  beforeWord = "";
                  afterId = -1;
              }
            }  

            //Neu da chon het thi bao la ket thuc.
            if (collRes.length == 24)
            {
              $('#myModal').modal('show');   
            }
         })
      });
    </script>

<div class="container-fluid">
  <p><a href=""><small>← Quay về</small></a> Từ vựng</p>

  <table class="table" border="1" id="tblWordAri">
    <tbody>
    <% index = 0 %>
    <% genFlg = true %>
    <% for (row = 0; row < 6; row++) { %>
      <% if (genFlg) { %>
        <tr>
          <% for (col = 0; col < 4; col++) { %>
            <% index = col+row*4 %>
            <td width="25%" id="<%= index %>" valign="middle" align="center">
              <% if (index < ranWords.length) { %>
                <%= ranWords[index].item %>
                <input type="hidden" id="input<%= index %>" value=" <%= ranWords[index].description %> ">
              <% } else { %>
                <% genFlg = false %>
                <% break %>
              <% }%> 
            </td>
          <% } %>
        </tr>
      <% } else { %>
        <% break %>
      <% } %>
    <% } %>
    </tbody>
  </table>

  <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">GAME FINISH</h4>
      </div>
      <div class="modal-body">
        <p>CONGURATULATION! YOU FINISHED GAME.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary">CONTINUE</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>