<div class="container"> 

    <div class="row listVocabulary"></div>

    <div class="row flashcard"></div>

    <div class="row quicklearning"></div>

    <div class="row cartagame"></div>

</div>



