Dear {{username}},
<br/><br/>
You recently signed up for <%= __('website name') %> .<br/>
To complete signup click this link:<br/>
<a href="{{activelink}}">{{activelink}}</a><br/>
Or, you can copy and paste the link into your browser.
<br/><br/>
Thank you,<br/>
<a href="#"><%= __('website name') %></a>
