Xin chào <%= user.username %>
<br/><br/>
Bạn đã quyên và yêu cầu nhắc mật khẩu. Mật khẩu mới của bạn được tạo ngẫu nhiên như bên dưới.
<br/><br/>
Mật khẩu mới: <%= mailContent.newPassword %>
<br/><br/>
Hãy đăng nhập và thay đổi mật khẩu trong trong thông tin account.<br/>
Hãy tận hưởng niềm vui với thời gian học tiếng Nhật.
<br/><br/>
Chân thành cảm ơn Bạn!<br/>
<a href="<%= mailContent.homeUrl %>"> Japanese learning online tool <%= mailContent.homeUrl %> </a>