Dear <%= user.username %>
<br/><br/>
You have requested to have your password reset for your account at Japanese learning online tool.<br/>
Your new password is: <%= mailContent.newPassword %>
<br/><br/>
Please login and change your password in the account management.<br/>
Enjoy with your japanese learning time.
<br/><br/>
Thank you,<br/>
<a href="<%= mailContent.homeUrl %>"> Japanese learning online tool <%= mailContent.homeUrl %> </a>