<div class="container">
    <div class="row">
        <%
        var size = articles.length;
        if(size == 0) {
        %>
            <h3>Don't have any article , go to <a href="/addArticle">Add Article</a> </h3>
        <%
        } else {
            %>
        <form action="createQuestion" enctype="multipart/form-data" id="createQueForm" method="post">
            <div class="create-question">
                <div class="col-sm-12">
                    <label class="lb-create-ar lead">Create Question</label>
                    <hr>
                </div>
                <div class="col-sm-2 text-right">
                    <label>Subject</label>
                </div>
                <div class="col-sm-10">
                    <select name="articleID" class="form-control txt-box">
                        <%
                            articles.forEach(function(article){
                                %>
                                <option value="<%=article.id%>"><%=article.subject%></option>
                        <%
                            });
                          %>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <label>question</label>
                </div>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control txt-box" id="" placeholder="question" name="question"
                              row="3"></textarea>
                </div>
                <div class="col-sm-2 text-right">
                    <label>option 1</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control txt-box" id="" placeholder="option 1" name="option1">
                </div>
                <div class="col-sm-2 text-right">
                    <label>result Option 1</label>
                </div>
                <div class="col-sm-10">
                    <select name="resultOption1" class="form-control txt-box">
                        <option value="true" selected="selected">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <label>option 2</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control txt-box" id="" placeholder="option 2" name="option2">
                </div>
                <div class="col-sm-2 text-right">
                    <label>result Option 2</label>
                </div>
                <div class="col-sm-10">
                    <select name="resultOption2" class="form-control txt-box">
                        <option value="true" selected="selected">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <label>option 3</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control txt-box" id="" placeholder="option 3" name="option3">
                </div>
                <div class="col-sm-2 text-right">
                    <label>result Option 3</label>
                </div>
                <div class="col-sm-10">
                    <select name="resultOption3" class="form-control txt-box">
                        <option value="true" selected="selected">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <label>option 4</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control txt-box" id="" placeholder="option 4" name="option4">
                </div>
                <div class="col-sm-2 text-right">
                    <label>result Option 4</label>
                </div>
                <div class="col-sm-10">
                    <select name="resultOption4" class="form-control txt-box">
                        <option value="true" selected="selected">true</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-sm-2 text-right">
                    <label>image</label>
                </div>
                <div class="col-sm-10">
                    <input type="file" class="form-control txt-box" accept="image/*" id="" name="img">
                </div>
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-success btn-add-ar">Add Question</button>
                </div>
            </div>
        </form>
        <%
        }
        %>
    </div>
</div>