body {
    background: url('../images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
}
.language{
    margin-top: 20px;
}
.language a{
    margin-left: 5px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding-left {
    padding-left: 0 !important;
}

.nopadding-right {
    padding-right: 0 !important;
}

.home-image-background {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
}
.menu-page {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}
.logo img {
    padding-top: 3rem;
}

.home-content {
    padding-top: 150px;
    min-height: 535px;
}

.home-content p {
    color: #fff;
    line-height: 40px;
}

.text-center button {
    width: 100%;
}

.label {
    font-weight: 400;
}

.sd-learn-more {
    border: 1px solid #D54940;
    border-radius: 3px;
    color: #D05B57;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding: 8px 40px;
    white-space: normal;
}

.home-static {
    color: #fff;
    padding: 10px;
    border: 2px solid #CDCBCC;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 20px;
}

.home-static .fa {
    color: #fd4326;
}

.counter {
    font-weight: 500;
    font-size: 18px;
}

.register {
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}
.no-user .label{
    border-radius: 0;
    font-weight: 400;
}
.no-user h2{
    font-weight: 300;
    font-size: 30px;
    margin-top: 0;
}
.no-user p{
    line-height: 50px;
    margin-bottom: 0;
}
.home-content .btn-social-icon.btn-sm{
    border-radius: 50%;
    background-color: transparent;
    border-color: #fff;
}
.home-content .btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active, .open .dropdown-toggle.btn-flickr {
    color: #fff;
    background-color: #d6006f;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
    color: #fff;
    background-color: #303030;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
    color: #fff;
    background-color: #ca3523;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
    color: #fff;
    background-color: #446a89;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #005f8d;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
    color: #fff;
    background-color: #1f3346;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active, .open .dropdown-toggle.btn-tumblr {
    color: #fff;
    background-color: #1f3346;
    border-color: rgba(0,0,0,0.2);
}
.home-content .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #1c92c7;
    border-color: rgba(0,0,0,0.2);
}