body {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}

body .body-content{
    min-height: 610px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    font-weight: 300;
    font-size: 26px;
    color: #000;
}
.header-top .language {
    margin-left: 5px;
    padding: 0 !important;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

label {
    font-weight: 400 !important;
}

.isemptyQ {
    text-indent: 20px;
    font-size: 19px;
    color: red;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}
.label-home {
    background-color: #ADADAD;
}
.label-danger {
    background-color: #d9534f;
}
.label-success{background-color:#5cb85c}
input[type=submit]:hover {
    color: #fff
}

.sd-learn-more {
    border: 1px solid #D54940;
    border-radius: 3px;
    color: #D05B57;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding: 8px 40px;
    white-space: normal;
}

.sd-learn-more:hover {
    border: 1px solid #296192;
    color: #296192;
}

.modal  {
        text-align: center;
}

.modal:before {
        display: inline-block;
        vertical-align: middle;
        content:   " ";
        height: 100%;
}

.modal-dialog  {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    margin-left: 16%;
}

.model-show-boook {
    margin-left: auto;
    margin-right: auto;
}

.library-page-line {
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.library-page-line:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 27%;
    z-index: 1;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;
}

/*HEADER*/
.header-top {
    background-color: #C1C1C1;
    padding: 5px 0px;
    color: #3E3E3E;
}

.header-top-menu {
    text-align: right;
}

.header-top-menu ul li {
    display: inline-block
}

.header-top a {
    color: #3E3E3E;
    padding: .5em;
}

.header-center {
    background: transparent;
    position: relative;
}

.header-center a.logo, .header-center ul.menu {
    position: relative;
    z-index: 9
}

.account-right {
    text-align: right;
}

.logo img {
    padding: 1rem 0;
}

.stripe_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url("../images/bacground-header.jpg") repeat;
    background-size: cover;
    background-position: 50% 50%;

    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter â€¦.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter â€¦.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    /*filter: gray;*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter â€¦.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.stripe_color {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    opacity: 0.8;
    z-index: 2;
}

.contentt {
    margin-bottom: 50px;
    margin-top: 50px;
}

h3 {
    font-weight: 400;
    margin-left: 10px;
}

.group-joining-friends h2:after, .group-joining h2:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
    z-index: 1;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;
}

#piechart {
    width: 500px;
    height: 350px;
    margin-left: 50px;
}

#piechart1 {
    width: 500px;
    height: 350px;
    margin-left: 50px;
}

#chart_div {
    width: 100%;
    height: 500px;
}

/*END HEADER*/

/*Index*/
.home-slideshow img{
    width: 100%;
}
.who-are-we{
    margin: 4rem 0;
}
.who-are-we p{
    font-size: 18px;
}
.who-are-we .btn-social-icon.btn-sm {
    border-radius: 50%;
}
/* ----------------------- */
/*		  SERVICE - 1      */
/* ----------------------- */
.ts-service-style-1{margin-top: 60px}
.ts-service-style-1 .service-icon{
    background-color: #42454a;
    position: relative;
    color: white;
    text-align: center;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-right: 16px;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s;
    -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s;
    font-size: 20px;

}
.ts-service-style-1 .service-icon .fa{
    line-height: 48px;
}
.ts-service-style-1 .service-icon:after{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 0 0 4px #fd4326;
    -moz-box-shadow: 0 0 0 4px #fd4326;
    -webkit-box-shadow: 0 0 0 4px #fd4326;
    left: -7px;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 7px;
    top: -7px;
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -moz-transition: -moz-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease 0s, opacity 0.2s ease 0s;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.ts-service-style-1:hover .service-icon:after {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
.ts-service-style-1:hover .service-icon{
    color: white;
    background: #fd4326;
}
.ts-service-style-1 .service-title h3{
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: #252525;
    line-height: 50px;
}
.ts-service-style-1 .service-content{
    margin: 30px 0 30px 0;
    line-height: 26px;
    font-weight: 300;
}
.ts-service-style-1 .read-more{
    color: #fd4326;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
}
.ts-service-style-1 .read-more .fa{
    margin-left: 7px
}
.home-static{
    color: #fff;
    padding: 10px;
    border: 2px solid #CDCBCC;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 20px;
}
.counter{
    font-weight: 500;
    font-size: 18px;
}
.statistics{
    padding: 5rem;
    background-attachment: fixed;
    background-image: url(../images/bg-progreaa.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    background-position: 0 50%;
}
.ts-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
}
.statistics .fa{
    color: #fd4326;
}
/*Account*/

.form-register label {
    font-weight: 500;
}

.register {
    min-height: 280px;
}

.control-label {
    font-weight: 500;
}

.well {
    box-shadow: none;
    border-radius: 0;
}

.login-drop {
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
    padding: 4px 15px;
    background: #4FA74F;
}

.login-page {
    margin: 0 auto;
    margin-top: 0 !important;
}

.login-page:hover {
    color: #265a88 !important;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.account label {
    text-align: right;
    padding-top: 7px;
}

.secondary-title {
    font-weight: 400;
    margin: 0
}

.lbUser {
    font-weight: 500;
    color: #1087dd;
}

.friendUser {
    font-weight: 500;
}

.lbLever {
    font-size: 12px;
}

.panel-body .imgDf {
    padding-top: 3px;
}

.per-scroll-lib-review {
    min-height: 47em;
}

.form-info {
    margin-top: 30px;
}

.leadInfo {
    font-weight: 500;
    font-size: 20px;
}

.infoUser {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 450px;
}

.form-listFriend {
    margin-top: 20px;
}

.lh {
    border-top: 1px solid #D6E9C6;
}

.btnSearch {
    font-size: 11px;
    margin-left: -16px;
}

.profile .form-search {
    margin-right: -71px;
}

.lessonSt {
    margin-top: 10px;
}

.profile .label-success {
    font-weight: 400;
}

.label-info {
    font-weight: 400;
}

.lessonName {
    font-weight: 500;
    font-size: 17px;
}

.lbEdit {
    font-weight: 500;
}

.btn-edit {
    border: 1px solid #1087DD;
    border-radius: 3px;
    color: #1087DD;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-top: -5px;
    padding: 8px 40px;
    background-color: #ffffff;
}

.btn-edit:hover {
    color: #d9534f !important;
    border: 1px solid #d9534f !important;
}

.profile .btn-success {
    margin-right: 50px;
}

.profile .tab-content {
    margin-bottom: 1rem;
}

.changePassword, #change-avatar {
    margin-top: 54px;
}

.btn-changePass {
    border: 1px solid #1087DD;
    color: #1087DD;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: -1px;
    padding: 7px 20px;
    background-color: #ffffff;
}

.resgiter {
    margin: 0 auto;
    max-width: 600px
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}

.user-new .btn-social:hover {
    color: #fff
}

.submit-user-new {
    margin-bottom: 2rem;
}

.auth-login, .profile {
    margin-top: 2rem;
}

label.error, p.error {
    font-weight: 400;
    color: red;
    font-style: italic;
    padding-top: 2px;
}

label.valid, p.valid {
    font-weight: 400;
    color: green;
    padding-top: 2px;
}

.login-back {
    color: #fff;
}

/*Upload avatar style*/

.avatar-user-image img {
    width: 91%;
    border: 1px solid #b3b3b3;
    padding: 5px;
    margin: auto auto;
    display: block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*End Account*/

/*CONTENT*/
.wrapper {
    min-height: 410px;
    margin-bottom: 2rem;
}

.content-random .slideshow img, .module-inner img {
    width: 100%;
    height: auto;
}

.content-group-friends img {
    width: 100%;
    height: auto;
}

.slideshow, .module-inner {
    margin-bottom: 2rem
}

.content-group-friends .group-friends {
    margin-bottom: 2rem
}

.content {
    padding-bottom: 2rem;
}

.content h2 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 33px;
}

.info h3 a {
    text-transform: capitalize;
}

.vocabulary-item .info h3 {
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.vocabulary-item .info h3:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 27%;
    z-index: 99999;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;

}

.group-friends .info h3 a {
    font-size: 18px;
    color: #000000;
}

.info span {
    font-weight: 500;
}

.view-more {
    margin: 0 auto;
    display: table;
    margin-bottom: 2rem;
}

.desc-home i a {
    color: rgb(213, 73, 64)
}

/*Group Friend*/
.content-group-friends, .reading-practice, .member {
    background: rgb(231, 231, 231);
}

/* reading-practice */

/*Vocabulary*/


.slider-nav h3 {
    background: #aaa;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #fff;
}

.vocabulary-item {
    margin-bottom: 1rem;
}

.vocabulary-item img {
    width: 100%;
    height: auto;
}

.info h3 {
    margin: 0;
}
.info p{padding: 10px 0px; font-weight:500}
.vocabulary-item .info h3 a {
    font-size: 26px;
    color: #000000;
    font-weight: 300;
}

.info-lesson {
    text-align: center;
}

.info-lesson a {
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px;
}
.info-lesson-home{
    text-align: center;
}
.info-lesson-home a{
    color: #fff;
    width: 100%;
    display: block;
    padding: 3px;
}
.info-desc {
    margin-bottom: 1rem
}
.info .col-sm-1,.info .col-md-1,.info .col-sm-3{
    margin-top: 10px;
}
.info-learning p {
    line-height: 30px
}

.info-lesson-done .glyphicon {
    color: rgb(92, 184, 92);
}

.join-learn {
    color: #fff
}
.info-book{
    border: 1px solid #D6D6D6;
    padding: 10px 0px;
    background-color: #E4E4E4;
    margin-top: 2rem;
}
.info-book h3{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.info-book .col-sm-2{
    margin-top: 1rem;
}
.loadmore a{
    margin-top: 2rem;
}
.disactive{display: none}
.active{display: block}
/*Library*/
/*.modal-header, h4, .close {*/
/*background-color: #5cb85c;*/
/*color: white !important;*/
/*text-align: center;*/
/*font-size: 30px;*/
/*}*/

/* LibPage */

/*<!-- Arrow Left -->*/

.libMaster {
    padding-top: 5px;
    margin-bottom: 2px;
}

.lib-cell {
    margin-bottom: 5px;
}

.libImg {
    height: auto;

}

.libImg-modal {
    padding-left: 10px;
}

.libPara-modal {
    text-align: justify;
}

.lib-label-danger {
    background-color: red;
    font-weight: normal;
}

.libMaster li {
    font-size: 13px;
}

a:hover {
    text-decoration: none;
}

.media-body {
    padding-right: 10px;
}

.read-more-library {
    font-size: 15px;
    font-weight: 400;
    color: #d9534f;
}

.media h3 span {
    font-weight: 300;
    font-size: 26px;
    color: #000;

}

.media-body h4 a {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 13, 13);
}

.media-body h4 a:hover {
    color: #d9534f;
}

.library-page .media .join-learn {
    margin-top: 24px;
}

.library-page .media .join-learn a {
    color: #fff;
}

.library-page-line {
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.library-page-line:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 27%;
    z-index: 1;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;
}

.library-page .row:last-child {
    margin-bottom: 2rem;
}

.library-detail-img {
    width: 100%;
    height: auto;
}

.library-page-category
.modal-footer {
    background-color: #f9f9f9;
}

.group-joining .panel-heading {
    background: none;
    border: none;
}

.group-joining h2 {
    color: #000;
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
    width: 100%;
}

.group-joining-friends {
    margin-top: 2rem;
}

.group-joining-friends h2 {
    color: #000;
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
    width: 100%;
}

.group-joining-friends h2:after, .group-joining h2:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 27%;
    z-index: 1;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;
}

.panel-primary {
    border: none;
}

.group-joining .creategroup {
    margin-top: -40px;
}

.creategroup-form {
    margin-top: 2rem;
}

.creategroup-form .panel-heading h2 {
    color: #fff;
    font-weight: 300;
    margin: 5px;
    width: 100%;
    font-size: 20px;
}

.creategroup-form .panel-info {
    border-color: #5cb85c;
}

.creategroup-form .panel-heading {
    background: #5cb85c;
}

.creategroup-button button {
    border: none;
    width: 100%;
    padding: 10px;
    color: #fff;
}

/*LEARNING GROUP*/
.learning-group .content h2 {
    border-bottom: 1px solid rgba(189, 189, 189, 0.44);
    padding-bottom: 1rem;
}

.learning-group .content h2:after {
    content: ' ';
    display: block;
    height: 1px;
    width: 27%;
    z-index: 1;
    border: 1px solid #2BA9E1;
    position: relative;
    top: 11.5px;
}

.learning-group .invite img {
    width: 100%;
}

.learning-group .invite h3 {
    font-weight: 300;
}

.learning-group .invite #vocabularyList h3 {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #fff;
}

.learning-group .invite .col-sm-4 {
    margin-bottom: 1rem;
}

.change-learning .col-sm-12 {
    margin-bottom: 1rem;
}

.change-learning .change-learning-lesson-item {
    color: #fff;
}

#add-book-detail {
    font-size: 25px;
    font-weight: 300;
    background-color: #fff;
    width: 100%;
    display: block;
    margin: 0;
    padding: 11px;
    border-bottom: 1px solid #D2D6DE;
}
.font-weight-sub-lesson{
    font-weight: 700;
}
/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #D9534F;
    left: 50%;
    margin-left: -1.5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li:before, .timeline li:after {
    content: " ";
    display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
    width: 46%;
    float: left;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 15px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 16px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #d9534f;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 1px solid #d9534f;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}

.timeline li:nth-child(2n) .tl-circ {
    position: absolute;
    top: 15px;
    left: 15%;
    text-align: center;
    background: #13B192;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: -16px;
    border: 1px solid #13B192;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: 99999;
}

/** timeline content **/

.tl-heading h4 {
    margin: 0;
    color: #c25b4e;
    font-weight: 400;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body p + p {
    margin-top: 5px;
}

.page-header h1 {
    font-size: 1.8em;
}

ul.timeline:before {
    left: 30px;
}

ul.timeline li .timeline-panel {
    width: calc(100% - 74px);
    width: -moz-calc(100% - 74px);
    width: -webkit-calc(100% - 74px);
}

ul.timeline li .tl-circ {
    top: 14px;
    left: 13px;
    margin-left: 0;

}

ul.timeline li:nth-child(2n) .tl-circ {
    top: 14px;
    left: 13px;
    margin-left: 0;

}

ul.timeline li .tldate {
    margin: 0;
}

ul.timeline li .timeline-panel {
    float: right;
    margin-right: 0.5rem;
}

ul.timeline li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

ul.timeline li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.invite-member {
    padding-bottom: 1rem;
}

.invite-member .col-sm-8 {
    padding-left: 0;
}

.comment h4 {
    margin: 0;
    font-size: 14px;
    color: rgb(217, 83, 79);
}

.comment img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.comment-items {
    margin-bottom: 1rem;
}

.comment-area {
    width: 100%;
}

.view-comment {
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
    display: block;
    color: rgb(0, 105, 152);
}

.dropdown-menu {
    position: relative;
    top: 100%;
    left: 0;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background: none !important;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: none !important;
    color: rgb(19, 177, 146);
}

.caret {
    margin-top: 10px;
}

.navbar-collapse {
    max-height: 600px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;

}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }


}

/*css for creating learning*/
.learning-group-item .col-sm-10 {
    margin-bottom: 1rem;
}

.learning-group-image img {
    width: 100%;
    height: 138px;
}

.learning-group-image #fileButton {
    visibility: hidden;
    margin-bottom: -49px;
    margin-left: -114px;
}

.learning-group-image .icon-upload {
    position: absolute;
    margin-left: 152px;
    margin-top: 117px;
}

.learning-group-image .learning-group-image {
    position: relative;
}

.learning-group .btn-chooseBook {
    border-radius: 0px;
}

.learning-group .showBook {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 47px;
}

.learning-group .popup-book {
    width: 940px;
    margin-left: -163px;
}

.learning-group .form-search-book {
    margin-right: -566px;
    margin-bottom: -4px;
    margin-top: -14px;
}

.learning-group .form-by {
    margin-top: -13px;
}

.learning-group .slcBook {
    margin-top: 7px;
    margin-left: -121px;
}

.learning-group .lbBy {
    font-weight: 400;
    font-size: 14px;
}

.learning-group .panel-details-book {
    margin-top: 14px;
    margin-left: -75px;
    margin-right: -21px;
    background-image: none;
    border-radius: 0;
}

.learning-group .head-pharaBook {
    border-radius: 0;
}

.learning-group .lbDetailBook {
    font-weight: 400;
    font-size: 12px;
}

.learning-group .lineBook {
    margin-right: 137px;
}

.learning-group .btn-flat {
    border-radius: 0px;
    background-image: none;
}

.learning-group .formStartFinish {
    margin-bottom: 71px;
    margin-right: 192px;
}

/*css for manager learning*/
.body-manager-learning .img-book {
    width: 209px;
}

.body-manager-learning .choose-book-pre {
    overflow-x: hidden;
}

.body-manager-learning .showLearing {
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 400px;
}

.body-manager-learning .row-info-learning {
    margin-bottom: 29px;
}

.body-manager-learning .row-topMana {
    margin-bottom: 29px;
    margin-left: 74px;
}

.body-manager-learning .slcStt {
    font-size: 17px;
    margin-top: 3px;
}

.body-manager-learning .lb-name {
    font-size: 22px;
}

.body-manager-learning .lb-learn-name {
    font-size: 17px;
}

.body-manager-learning .panel-search {
    margin-left: -76px;
    border-radius: 0px;
}

.body-manager-learning .btn-search-learn {
    margin-top: -6px;
    border: 1px solid #337AB7;
    border-radius: 3px;
    color: #337AB7;
    display: inline-block;
    font-weight: 400;
    padding: 8px 40px;
    white-space: nowrap;
    background-color: white;
}

.body-manager-learning .btn-flat-brw {
    border: 1px solid #337AB7;
    border-radius: 3px;
    color: #337AB7;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 40px;
    white-space: nowrap;
    background-color: white;
}


.body-manager-learning .lb-date{
    border-radius: 0px;
    background-color: rgba(119, 119, 119, 0.7);
}
.body-manager-learning .progress{
    margin-bottom: 0px;
    border-radius: 0px;
}
.body-manager-learning .div-progress{
    padding-right: 0px;
}
.body-manager-learning .lib-cell .lb{
    font-weight: 500;
}

.default-show .col-sm-1, .default-show .col-sm-2 {
    margin-top: 20px
}

.manager-learning-item img {
    width: 100%;
}

.manager-learning-item .col-sm-4 {
    margin-bottom: 1rem;
}

.manager-learning-item h4 {
    font-weight: 400;
    color: #000;
}

.manager-learning-item h4 a {
    color: #000;
}

.slick-track .slick-current h3 {
    background: rgb(43, 169, 225);
}
.main-sidebar .pre-scrollable {
    max-height: 675px;
}

.content-lesson {
    min-height: 726px !important;
}
.library-page .form-horizontal #executeSearch{
    /*margin-top: 6%;*/
}
.body-manager-learning #default-show .btn-danger{
    position: absolute;
    margin-top: 30px;
    margin-left: 1003px;
}
.library-page .form-horizontal .btn-danger{
    border-radius: 0px;
}
/*END LEARNING GROUP*/

/*css by duongtd2*/
/*css show article to learn*/
.showArticleLearn {
    min-height: 700px;
}

.showArticleLearn .btn-doTest-article {
    background-image: none;
    background-color: white;
    border-color: white;
    border: none;
}

.doTestArticle .testHid {
    display-outside: none;
    display: none;
    display-inside: block;
}

.doTestArticle .lb-ts-test-fail {
    color: red;
}

.doTestArticle .lb-ts-test-ok {
    color: green;
}

.container-do-test-article {
    width: 93%;
}

.wizard .content .body #div-question-list input {
    display: inline-block;
}

/*css for test article*/
.hr-rs-point-mark {
    margin-right: 26%;
    margin-left: 26%;
    border-top: 1px solid #E6C776;
}

.user-point-mark {
    font-weight: 500;
}

.start-date {
    font-weight: 500;
}

.finish-date {
    font-weight: 500;
}

.details-mark-rs-user {
    color: red;
    font-weight: 500;
}

/*testing*/
.btn-submit-testing {

    margin-top: -6%;
}

.btn-submit-check {
    margin-top: -6%;
    background-color: #399D45;
}

.btn-refresh-rs-question {
    margin-top: -6%;
}

.choose-modul-learn-article {
    margin-top: 10%;
}

#container-learn {
    /*padding-top: 1.5%;*/
}

#container-learn .slick-slider {
    margin-bottom: 0px;
}

.lb-question-minion {
    font-size: 22px;
    font-weight: 500;
    color: rgb(82, 123, 156);
}

.lb-option-article-test-practice {
    font-size: 18px;
}

.box-style-blue-test-article {
    border-radius: 3px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.lb-content-test-article {
    font-size: 22px;
}

.lb-empty-question {
    color: red;
}

/*END css by duongtd2*/

/*VOCABYLARY*/
.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a {
    outline: 0;
}

.wizard ul,
.tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul li,
.tabcontrol ul li {
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard .steps .current-info,
.tabcontrol .steps .current-info {
    position: absolute;
    left: -999em;
}

.wizard .content .title,
.tabcontrol .content .title {
    position: absolute;
    left: -999em;
}

/*
    Wizard
*/

.wizard .steps {
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical .steps {
    display: inline;
    float: left;
    width: 30%;
}

.wizard .steps .number {
    font-size: 1.429em;
}

.wizard .steps ul li {

}

.wizard .steps ul li,
.wizard .actions ul li {
    float: left;
}

.wizard.vertical .steps ul li {
    float: none;
    width: 100%;
}

.wizard .steps a,
.wizard .steps a:hover,
.wizard .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 0.5em 0.5em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard .steps .disabled a,
.wizard .steps .disabled a:hover,
.wizard .steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard .steps .notdisabled a, .wizard .steps .notdisabled a:hover, .wizard .steps .notdisabled a:active {
    background: #D9D9D9;
    color: #000;
    cursor: pointer;
}

.wizard .steps .current a,
.wizard .steps .current a:hover,
.wizard .steps .current a:active {
    background: #2184be;
    color: #fff;
    cursor: pointer;
}

.wizard .steps .done a,
.wizard .steps .done a:hover,
.wizard .steps .done a:active {
    background: #9dc8e2;
    color: #fff;
}

.wizard .steps .error a,
.wizard .steps .error a:hover,
.wizard .steps .error a:active {
    background: #ff3111;
    color: #fff;
}

.wizard .content {
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical .content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard .content .body {
    float: left;
    /*position: relative;*/
    width: 100%;
    height: 100%;
    padding: 2.5%;
}

.wizard .content .body ul {
    list-style: disc !important;
}

.wizard .content .body ul li {
    display: list-item;
    line-height: 22px;
}

.wizard .content .body iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard .content .body input {
    display: block;
    border: 1px solid #ccc;
}

.wizard .content .body input[type="checkbox"] {
    display: inline-block;
}

.wizard .content .body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard .content .body label {
    display: initial;
    margin-bottom: 0.5em;
}

.wizard .content .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard .actions ul {
    display: inline-block;
    text-align: right;
}

.wizard .actions ul li {
    margin: 0 0.5em;
}

.wizard.vertical .actions ul li {
    margin: 0 0 0 1em;
}

.wizard .actions a,
.wizard .actions a:hover,
.wizard .actions a:active {
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard .actions .disabled a,
.wizard .actions .disabled a:hover,
.wizard .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}

.wizard .loading {
}

.wizard .loading .spinner {
}

#vocabularyList h5 {
    font-size: 18px;
}

#vocabularyList h4 {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    display: block;
}

#vocabularyList p span {
    font-weight: 500;
}

.wizard ul.vocabulary-item-example {
    padding-left: 3rem;
}

.pratice-voca .text-center-exe {
    background: none !important;
    font-size: 550%;
    cursor: pointer;
}


.voca-list-sum {
    margin-top: 2%;
}

.mics-audio-practice-voca{
    position: relative;
}

.voca-prac-txt-cntr .card{
    min-height: 168px;
    margin-top: -11%;
}
.pratice-voca .panel-paper-slide{
    min-height: 510px;
    margin-bottom: 0px;
}
.exe-voca{
    margin-top: 1%;
}
.voca-list-sum .card{
    position: relative;
    min-height: 154px;
     margin-top: 0%;
}
.icon-controll-prac-voca{
    position: absolute;
    z-index: 100;
}
.voca-list-sum .pagingCnt{
    position: absolute;
    right: 5%;
    bottom: 1%;
}
.voca-list-sum .panel-paper-slide-voca{
    margin-bottom: 0px;
    min-height: 448px;
}
.voca-list-sum .info-on{
    cursor: pointer;
}
/*END VOCABULARY*/

/*END CONTENT*/
/*FOOTER*/
.footer {
    background: #C1C1C1;
    color: #000;
    padding: 2rem 0;
    text-align: center;
}
.split-footer {
    background:  #D9534F;
    height:2px;  
}
.logo-footer img {
    margin-bottom: 2rem
}

.footer a {
    color: #000
}
.footer a:hover{
    color: #FD4326;
}
.footer li a {
    margin: 7px;
}

.copyright {
    padding-top: 25px;
}

.join-learn {
    border-radius: 0;
    width: 100%;
}

/*Member*/
.member .col-sm-1 a img {
    width: 100%;
    height: auto;
}

.member .col-sm-1 {
    margin-bottom: 2rem;
}

/*END FOOTER*/

/*KANJI*/
.not-display, *[custom|='display-delay'] {
    display: none;
}

.card {
    position: relative;
    min-height: 154px;
    margin-top: -5%;
}

.text-center-list-kanji {
    background: none !important;
    cursor: pointer;
    font-size: 1000%;
    transition: All 1s ease;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    transform: rotate(0deg) scale(0.802) skew(1deg) translate(-2px);
    -webkit-transform: rotate(0deg) scale(0.802) skew(1deg) translate(-2px);
    -moz-transform: rotate(0deg) scale(0.802) skew(1deg) translate(-2px);
    -o-transform: rotate(0deg) scale(0.802) skew(1deg) translate(-2px);
    -ms-transform: rotate(0deg) scale(0.802) skew(1deg) translate(-2px);
}

.card-text-click .text-center-list-kanji {

    transform: rotate(0deg) scale(0.787) skew(1deg) translate(-150px);
    -webkit-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    -moz-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    -o-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    -ms-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    /*position: absolute;*/
    /*top:0;*/
    /*left: 10px;*/
}

.card-image {
    position: absolute;
    top: 8px;
    right: -4%;
    display: none;
}

.card-image img {
    width: 60%;
}

.card .front h4 {
    font-size: 74px !important;
}

.btn-show-list, .btn-show-list:active {
    background: none;
    font-size: 30px;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 30px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none !important;
    z-index: 99;
    top: 37%;
}

.btn-arrow-right {
    right: 14%;
}
.btn-arrow-right .fa-chevron-right{
    outline: none;
    background: none;
    color: #000000;
}
.btn-arrow-left {
    left: 14%;
}

.btn-arrow-left .fa-chevron-left{
    outline: none;
    background: none;
    color: #000000;
}

.btn-show-list:hover {
    color: #2BA9E1;
    outline: none;
    background: none;
}

.details-voca {
    margin-top: 2%;
}

.size-lb {
    font-size: 18px;
}

.lb-example {
    font-weight: 500;
}

.lb-on {
    font-weight: 500;
}

.lb-kun {
    font-weight: 500;
}

.lb-name-voca-mean {
    font-size: 29px;
    color: rgb(43, 169, 225);
}

.details-voca {
    margin-left: 1%;
}

.vocabulary-item-example {
    margin-left: 4%;
    font-size: 22px;
}

.vocabulary-item-example {
    margin-left: 4%;
}

#kanji-List .info-on {
    cursor: pointer;
    font-size: 29px;
    position: absolute;
    z-index: 999;
}

#kanji-List .info-off {
    cursor: pointer;
    font-size: 29px;
    position: absolute;
    z-index: 999;
}

.mic-on {
    cursor: pointer;
    font-size: 29px;
}

.mic-off {
    cursor: pointer;
    font-size: 29px;
}

.panel-choose-exe {
    border-radius: 0px;
    cursor: pointer;
}

.option-exe-hanviet {
    font-weight: 500;
}

.btn-arrow-left-exe {
    left: 15%;
}
.btn-arrow-left-exe .fa-chevron-left{
    outline: none;
    background: none;
    color: #000000;
}
.btn-arrow-right-exe {
    right: 15%;
}
.btn-arrow-right-exe .fa-chevron-right{
    outline: none;
    background: none;
    color: #000000;
}
.panel-paper-slide {
    min-height: 489px;
}

.excercise-kanji .panel-paper-slide-exe {
    min-height: 402px;
    margin-bottom: 0px;
}

.kanji-text-block {
    margin-bottom: -29px;
}

.kanji-text-big .card{
    min-height: 103px;
}
.count-page-exe-kanji{
    position: absolute;
    bottom: 2%;
    right: 5%;
}
#kanji-List{
    margin-top: 10px;
}
.exe-kanji{
    margin-top: 10px;
}

.kanji-text-big .text-center-exe{
    background: none !important;
    font-size: 90px;
}
.ans-kanji-exe{
    bottom: 0px;
}
#kanji-List .slider-nav .slick-track {
    text-align: center;
}
.exe-kanji .slider-nav .slick-track {
    text-align: center;
}
/*END KANJI*/

/*slide*/
.slide-main {
    margin-bottom: -12px;
}

.text-center-list-voca {
    background: none !important;
    font-size: 600%;
    cursor: pointer;
}

#kanji-List .row-icon {
    margin-top: -11px;
}
.count-page{
    position: absolute;
    bottom: 1%;
    right: 4%;
}
.learn-kanji .panel{
    margin-bottom: 0%;
}
#vocabularyList .lastSlide .last-right .btn{
    background: linear-gradient(to bottom,#3a83e3,#1f6fd9);
    border-radius: 4px;
    clear: left;
    display: block;
    margin: 0 0 16px 0;
    padding: 16px 10px 16px 20px;
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
}
#vocabularyList .lastSlide .last-left .description{
    background: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding: 16px;
}
#vocabularyList .lastSlide .last-left .description .icon{
    color: rgb(56, 202, 126);
}
#vocabularyList .lastSlide .last-right{
    margin-top: 3%;
}
#vocabularyList .lastSlide {
    margin-top: 11%;
}
#kanji-List .lastSlide .last-right .btn{
    background: linear-gradient(to bottom,#3a83e3,#1f6fd9);
    border-radius: 0px;
    clear: left;
    display: block;
    margin: 0 0 16px 0;
    padding: 16px 10px 16px 20px;
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
}
#kanji-List .lastSlide .last-left .description{
    background: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding: 16px;
}
#kanji-List .lastSlide .last-left .description .icon{
    color: rgb(56, 202, 126);
}
#kanji-List .lastSlide .last-right{
    margin-top: 3%;
}
#kanji-List .lastSlide {
    margin-top: 11%;
}
.pratice-voca .lastSlide .last-right .btn{
    background: linear-gradient(to bottom,#3a83e3,#1f6fd9);
    border-radius: 4px;
    clear: left;
    display: block;
    margin: 0 0 16px 0;
    padding: 16px 10px 16px 20px;
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
}
.pratice-voca .lastSlide .last-left .description{
    background: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding: 16px;
}
.pratice-voca .lastSlide .last-left .description .icon{
    color: rgb(56, 202, 126);
}
.pratice-voca .lastSlide {
    margin-top: 11%;
}
.exe-kanji .excercise-kanji .lastSlide .btn-ls{
    background: linear-gradient(to bottom,#3a83e3,#1f6fd9);
    border-radius: 4px;
    clear: left;
    display: block;
    margin: 0 0 16px 0;
    padding: 16px 10px 16px 20px;
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
}
.exe-kanji .excercise-kanji .description{
    background: #fff;
    border-radius: 0px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding: 16px;
}
.exe-kanji .lastSlide .last-left .icon{
    color: rgb(56, 202, 126);
}
.exe-kanji .lastSlide .last-right{
    min-height: 217px;
}
.exe-kanji .lastSlide {
    margin-top: 11%;
}
.exe-kanji .excercise-kanji .lastSlide .btn-primary:hover{
    background-color: #2595ce;
    border:none;
}
.exe-kanji .excercise-kanji .lastSlide .btn-primary{
    background-color: #23aaef;
    border: none;
    width: 112px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.exe-voca .description{
    background: #fff;
    border-radius: 0px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding: 16px;
}
.exe-voca .lastSlide .last-left .icon{
    color: rgb(56, 202, 126);
}
.exe-voca .lastSlide .last-right{
    min-height: 217px;
}
.exe-voca .lastSlide {
    margin-top: 11%;
}
.exe-voca .lastSlide .btn-primary:hover{
    background-color: #2595ce;
    border:none;
}
.exe-voca .lastSlide .btn-primary{
    background-color: #23aaef;
    border: none;
    width: 112px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.disable-slide-element{
    opacity: 0.5;
    pointer-events: none;
}
.enable-slide-element{
    opacity: 1;
    pointer-events: all;
}
/*END slide*/

/*responsive lesson kanji*/
@media only screen and (max-width: 475px) {
    #kanji-List .learn-kanji .card-image{
        right: -16%;
        width: 145px;
    }
    #kanji-List .text-center-list-kanji{
        font-size: 100px;
    }
    #kanji-List .card-text-click .text-center-list-kanji{
        transform: rotate(0deg) scale(0.787) skew(1deg) translate(-150px);
        -webkit-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-38%);
        -moz-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -o-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -ms-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    }
    #kanji-List .learning-group .invite #vocabularyList h3, .slider-nav h3 {
        min-height: 50px;
    }
    #kanji-List .learn-kanji .panel{
        margin-bottom:0px;
        min-height: 387px;
    }
    .size-lb {
        font-size: 16px;
    }
    #kanji-List .card{
        margin-top: -33px;
        min-height: 117px;
    }
    #kanji-List .info-on{
        margin-left: -24px;
    }
    #kanji-List .info-off{
        margin-left: -24px;
    }
    .count-page{
        right: 8%;
    }
    .lb-name-voca-mean{
        font-size: 25px;
    }
    .btn-arrow-right{
        right: 5%;
    }
    .btn-arrow-left{
        left: 5%;
    }
    .kanji-text-block {
        margin-bottom: -33px;
    }
    .text-meaning-kanji-les{
        margin-bottom: 0px;
    }
    .cut-bottom{
        margin-bottom: -10px;
    }
    .cut-bottom-lb{
        margin-bottom: -1px;
    }
}
@media only screen and (min-width: 476px) and  (max-width: 500px) {
    .learn-kanji .card-image{
        right: -6%;
        width: 175px;
    }
    .text-center-list-kanji{
        font-size: 120px;
    }
    .card-text-click .text-center-list-kanji{
        transform: rotate(0deg) scale(0.787) skew(1deg) translate(-150px);
        -webkit-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-38%);
        -moz-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -o-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -ms-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    }
    .learning-group .invite #vocabularyList h3, .slider-nav h3 {
        min-height: 50px;
    }
    .learn-kanji .panel{
        margin-bottom:0px;
        min-height: 454px;
    }
    .size-lb {
        font-size: 16px;
    }
    #kanji-List .card{
        margin-top: -33px;
        min-height: 134px;
    }
    #kanji-List .info-on{
        margin-left: -24px;
    }
    #kanji-List .info-off{
        margin-left: -24px;
    }
    .count-page{
        right: 8%;
    }
    .lb-name-voca-mean{
        font-size: 25px;
    }
    .btn-arrow-right{
        right: 5%;
    }
    .btn-arrow-left{
        left: 5%;
    }

}
@media only screen and (min-width: 501px) and  (max-width: 700px)  {
    .text-center-list-kanji{
        font-size: 122px;
    }
    .learning-group .invite #vocabularyList h3, .slider-nav h3 {
        min-height: 50px;
    }
    .learn-kanji .panel{
        margin-bottom:0px;
        min-height: 424px;
    }
    .learn-kanji .card-image{
        right: -15%;
        width: 157px;
        margin-top: 4%;
    }
    #kanji-List .row-icon{
        margin-left: -23px;
    }
    .kanji-text-block{
        margin-bottom: -49px;
    }
    .size-lb {
        font-size: 15px;
    }
    #kanji-List .card{
        margin-top: -44px;
    }
    #kanji-List .info-on{
         font-size: 25px;
         position: absolute;
         z-index: 999;
     }
    #kanji-List .info-off{
        font-size: 25px;
        z-index: 999;
        position: absolute;
    }
    .count-page{
        right: 8%;
    }
    .lb-name-voca-mean{
        font-size: 26px;
    }
    #container-learn .slick-slider{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 701px)and  (max-width: 1024px)  {
    .learn-kanji .card-image{
        right: -16%;
    }
    .card-text-click .text-center-list-kanji{
        transform: rotate(0deg) scale(0.787) skew(1deg) translate(-150px);
        -webkit-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-31%);
        -moz-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -o-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
        -ms-transform: rotate(0deg) scale(0.787) skew(1deg) translate(-41%);
    }
    .learning-group .invite #vocabularyList h3, .slider-nav h3 {
        min-height: 50px;
    }
    .learn-kanji .panel{
        margin-bottom:0px;
        min-height: 447px;
    }
    .size-lb {
        font-size: 15px;
    }
    #kanji-List .card{
        margin-top: -39px;
    }
    .count-page-exe-kanji{
        right: 8%;
    }
    #kanji-List .count-page{
        right: 7%;
    }
}
/*END responsive lesson kanji*/

/*responsive practice kanji*/

@media only screen and (min-width: 319px) and (max-width: 479px){
    .panel-paper-slide-exe .panel-body{
        padding: 1px;
    }
    .count-page-exe-kanji{
        right: 8%;
        bottom: 0%;
    }
    .excercise-kanji .panel-paper-slide-exe{
        min-height: 385px;
    }
    .btn-arrow-right-exe{
        right: 6%;
    }
    .btn-arrow-left-exe{
        left: 6%;
    }
    .kanji-text-big .text-center-exe{
        font-size: 77px;
    }
    .kanji-text-big .card {
        min-height: 84px;
    }
    .excercise-kanji .panel-choose-exe{
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .panel-paper-slide-exe .panel-body{
        padding: 11px;
    }
    .excercise-kanji .panel-paper-slide-exe{
        min-height: 505.109px;
    }
    .btn-arrow-right-exe{
        right: 4%;
    }
    .btn-arrow-left-exe{
        left: 4%;
    }
    .count-page-exe-kanji{
        bottom: 1%;
        right: 7%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .panel-paper-slide-exe .panel-body{
        padding: 6px;
    }
    .exe-kanji .text-center-exe{
        font-size: 640%;
    }
}
/*END responsive practice kanji*/


/*responsive layout practice vocabulary*/

@media only screen and (min-width: 319px) and (max-width: 479px){
    .exe-voca .panel-body{
        padding: 7px;
    }
    .exe-voca .text-center-exe{
        font-size: 369%;
    }
    .voca-prac-txt-cntr .card{
        margin-top: -24%;
        min-height: 114px;
    }
    .pratice-voca .panel-paper-slide{
        min-height: 381.109px;
    }
    .exe-voca .slick-slide h3{
        min-height: 70px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .voca-prac-txt-cntr .card {
        min-height: 150px;
        margin-top: -15%;
    }
    .pratice-voca .text-center-exe{
        font-size: 490%;
    }
    .pratice-voca .panel-paper-slide{
        min-height: 454px;
    }
    .exe-voca .panel-paper-slide .panel-bd-all{
        padding: 11px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .pratice-voca .panel-paper-slide {
        min-height: 457px;
        margin-bottom: 0px;
    }
    .voca-prac-txt-cntr .text-center-exe{
        font-size: 473%;
    }
    .voca-prac-txt-cntr .card{

    }
}
/*END responsive layout practice vocabulary*/


/* responsive layout lesson vocabulary*/
@media only screen and (min-width: 320px) and (max-width: 479px){
    .voca-list-sum .text-center-list-voca{
        font-size: 417%;
    }
    .voca-list-sum .front{
        margin-top: -5%;
    }
    .voca-list-sum .info-on{
        font-size: 24px;
    }
    .voca-list-sum .info-off{
        font-size: 24px;
    }
    .voca-list-sum .mic-on{
        font-size: 24px;
    }
    .voca-list-sum .mic-off{
        font-size: 24px;
    }
    .voca-list-sum .exam-cont{
        margin-bottom: -3%;
        font-size: 16px;
    }
    .voca-list-sum .pagingCnt{
        right: 7%;
    }
    .vocabulary-item-example{
        margin-left: 0%;
    }
    .voca-list-sum .lb-example{
        margin-bottom: -3%;
    }
    .panel-paper-slide-voca .panel-body{
        padding: 5px;
    }
    .voca-list-sum .panel-paper-slide-voca{
        min-height: 430px;
    }
    .voca-list-sum .slick-list .slick-slide h3{
        min-height: 70px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .text-center-list-voca{
        font-size: 426%;
    }
    .panel-paper-slide-voca .panel-body{
        padding: 5px;
    }
    .panel-paper-slide-voca{
        min-height: 454px;
    }
    .vocabulary-item-example{
        margin-left: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
    .text-center-list-voca{
        font-size: 468%;
    }
    .voca-list-sum .exam-cont{
        font-size: 18px;
        margin-bottom: -2%;
    }
    .voca-list-sum .lb-example{
        margin-bottom: -2%;
    }
    .voca-list-sum .vocabulary-item-example{
        margin-left: 0%;
    }
    .panel-paper-slide-voca .panel-body{
        padding: 6px;
    }
}
/*END responsive layout lesson vocabulary*/

/*SPEECH*/
.speech-learning{
    margin-top: 110px;
}
#one-time h2 {
    font-size: 60px
}

#one-time h3 {
    margin-left: 0
}

.tablist {
    display: none
}

.check-voice {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #337ab7;
    padding: 12px;
    -webkit-transition: opacity .218s;
}
.trigger {
    -webkit-animation: level 0.3s 0s infinite;
    -webkit-animation-direction: alternate;
}


.text-danger .check-voice{
    border: 2px solid #fff;;
}
.text-danger .check-voice .fa-microphone{
    color: #a94442;
}
.speech-control .slick-track .slick-current h3{
    background: none;
}
.gt-speech .gt-speech-item{
    width: 100px;
    height: 100px;
    border: 2px solid #a94442;
    margin: 0 auto;
    border-radius:50%;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    position: absolute;
    top:-2px;
    left: -2px;
}
@keyframes stretch {
   100% {
        transform: scale(.3);
        border:1px solid #a94442;
        border-radius: 100%;
    }
    100% {
        transform: scale(1.5);
        border:1px solid #a94442;
    }
}
.voice-start{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}
.choose-book{
    padding-top: 10px;
}

/*validate*/
.message-date-validate {
    display: none;
    color: #d82824;
}
#choose-book-validator{
    display: none;
    color: #d82824;
}
.change-pass-mess-err{
    display: none;
    color: #d82824;
}
#checkBrowser{
    display: none;
    color: darkred;
    font-size: 18px;
}
/* Pie Chart */
.progress-pie-chart {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    margin: 0 auto;
}
.progress-pie-chart.gt-50 {
    background-color: #81CE97;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #81CE97;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    /*margin: 50px auto 0;*/
}
@media (max-width: 768px){
    .lib-cell:nth-child(2n-1) {
        background: #E2E2E2;
    }
}
/*new learning*/
.button-crt-learning #btn-create-learning{
    margin-top: 30px;
    margin-left: 1003px;
}
.content .media-left .img-book{
    width: 209px;
}
.content .container .div-btn-crt{
    margin-top: 29px;
}