/*style Article by duongtd2*/

/*create article*/
.create-article {
    min-height: 773px;
}
.create-article .lb-create-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.create-article .txt-box {
    margin-bottom: 15px;
    border-radius: 0px;
}
.create-article .btn-add-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
}
/*detailsArticle*/
.details-article{
    min-height: 550px;
}
.details-article .col-media{
    margin-top: 15px;
}
.details-article .row-pill{
    margin-left: 120px;
}
.details-article .lb-details-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.details-article .btn-edit-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
    background-color: rgb(43, 169, 225);
    border-color: rgb(43, 169, 225);
}
.details-article .btn-show-all-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
}
.details-article .video-form {
    margin-bottom: 15px;
}
.details-article .audio-form {
    margin-bottom: 15px;
    margin-left: 5px;
    width: 317px;
}
.details-article .hr-details {
    border-top: 1px solid #5CB85C;
}
.details-article .row-details {
    margin-bottom: 10px;
}
/*show all article*/
.all-article{
    min-height: 600px;
}
.all-article .btn-all{
    font-size: 15px;
    border-radius: 0px;
    background-image: none;
}
.all-article .btn-update-article{
    color: #3392D2;
    background-color: #fff;
    border-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
    margin-top: -6px;
    text-shadow: none;
}
/*edit article*/
.edit-article {
    min-height: 1164px;
    margin-left: -22px;
    margin-right: -61px;
}
.edit-article .row-pill{
    margin-left: 37%;
}
.edit-article .col-media{
    margin-top: 2%;
}
.edit-article .hr-edit{
    border-top: 1px solid #63BD58;
}
.edit-article .file-ch{
    padding-left: 35%;
}
.edit-article .lb-edit-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.edit-article .txt-box {
    margin-bottom: 15px;
    border-radius: 0px;
}
.edit-article .btn-edit-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
}
.edit-article .row-media {
    padding-left: 15px;
    padding-bottom: 10px;
}
.edit-article .btn-changeMedia {
    background-image: none;
    background-color: white;
    border: none;
}
.edit-article .row-slc {
    margin-left: -1px;
    margin-right: 541px;
}
.edit-article .audio-form {
    margin-bottom: 15px;
    margin-left: -1px;
    width: 323px;
}

/*create question*/
.create-question {
    min-height: 773px;
}
.create-question .lb-create-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.create-question .txt-box {
    margin-bottom: 15px;
    border-radius: 0px;
}
.create-question .btn-add-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
    margin-left: 9.5%;
}
/*details question*/
.details-question{
    min-height: 700px;
}
.details-question .col-media{
    margin-top: 15px;
}
.details-question .row-pill{
    margin-left: -14px;
}
.details-question .lb-details-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.details-question .btn-edit-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
    background-color: rgb(43, 169, 225);
    border-color: rgb(43, 169, 225);
}
.details-question .btn-show-all-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
}
.details-question .video-form {
    margin-bottom: 15px;
}
.details-question .audio-form {
    margin-bottom: 15px;
    margin-left: 5px;
    width: 317px;
}
.details-question .hr-details {
    border-top: 1px solid #5CB85C;
}
.details-question .row-details {
    margin-bottom: 10px;
}
/*show all question*/
.all-question{
    min-height: 600px;
}
.all-question .btn-update-article{
    color: #3392D2;
    background-color: #fff;
    border-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
    margin-top: -6px;
    text-shadow: none;
}.all-question .btn-show-ar{
    border-radius: 0px;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
}
/*edit question*/
.edit-question {
    min-height: 773px;
}
.edit-question .btn-changeMedia {
    background-image: none;
    background-color: white;
    border: none;
}
.edit-question .col-media-img {
    margin-bottom: 3%;
}
.edit-question .lb-create-ar {
    font-size: 27px;
    margin-bottom: -5px;
    margin-top: 36px;
}
.edit-question .txt-box {
    margin-bottom: 15px;
    border-radius: 0px;
}
.edit-question .btn-add-ar {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
    margin-left: 195px;
}
.edit-question .btn-cancle {
    font-size: 18px;
    border-radius: 0px;
    background-image: none;
}

/*END style Article by duongtd2*/