<section class="do-testimonial-section">
    <div class="do-dark-overlay"></div>
    <div class="container">
        <div class="row">
            <!-- SECTION HEADING -->
            <div class="do-section-heading do-section-heading-light">
                <h1>About Us</h1>
            </div>
            <!-- SECTION HEADING END -->
        </div>
    </div>
</section>

<div class="container">
    <div class="row about-us">
        <div class="col-sm-8 col-xs-12">
            <div class="desc-introduction">
                <p>Nhật Bản là 1 đất nước có nền kinh tế phát triển và văn hóa đa dạng. Đây là điểm đến lý tưởng cho
                    nhiều người có ý định du học hoặc tìm kiếm cho mình 1 công việc với mức lương cao. Chính vì thế mà
                    trong thời gian gần đây, tiếng Nhật Bản trở thành 1 trong số những ngôn ngữ được nhiều người theo
                    học.

                <p/>

                <p> Có những người theo học tiếng Nhật Bản vì mục đích đi du học hoặc xuất khẩu lao động, nhưng cũng có
                    những người theo học đơn giản chỉ vì tình yêu đối với đất nước Nhật Bản thông qua các bộ phim, bài
                    hát, chương trình truyền hình…
                    Biết thêm 1 ngoại ngữ là bạn có thêm 1 chìa khóa để mở ra cả 1 kho tàng tri thức, văn hóa của nước
                    đó. Học tiếng Nhật Bản cũng vậy, nó sẽ giúp bạn không chỉ có thêm 1 ngoại ngữ mà còn giúp bạn hiểu
                    thêm về đất nước, con người Nhật Bản và đồng thời mở ra cho bạn nhiều cơ hội học tập, làm việc khác
                    nhau.
                </p>

                <p> Vì những suy nghĩ như vậy, chúng tôi đã xây dựng lên cổng học tập tiếng Nhật <a href="http://kantan.vn">Kantan.vn</a>. Chúng tôi
                    làm việc với một mong muốn đó là có thể đóng góp một điều gì đó cho cộng đồng, từ kinh nghiệm học
                    tiếng Nhật thực tế của chính các thành viên trong nhóm, chúng tôi muốn tạo ra một công cụ trợ giúp
                    việc tự học tiếng Nhật dành cho cộng đồng</p>
                <p> <a href="http://kantan.vn">Kantan.vn</a> sẽ liên tục được cập nhật về nội dung để tài liệu trở lên phong phú và tiện lợi cho người
                    học.
                </p>
            </div>
        </div>
        <div class="col-sm-4 hidden-xs">
            <img src="/images/student-849825_640.jpg"/>
        </div>
    </div>
</div>