<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center text-danger"><%=__("About Page")%></h2>

            <div class="description">
                Từ kinh nghiệm học tiếng Nhật thực tế của chính các thành viên trong nhóm, 
                chúng tôi muốn tạo ra một công cụ trợ giúp việc tự học tiếng Nhật dành cho cộng đồng.
                Kantan.vn sẽ liên tục được cập nhật về nội dung cũng như độ tiện lợi dễ học.
            </div>
        </div>
    </div>
</div>