<section class="do-testimonial-section">
    <div class="do-dark-overlay"></div>
    <div class="container">
        <div class="row">
            <!-- SECTION HEADING -->
            <div class="do-section-heading do-section-heading-light">
                <h1>Liên hệ</h1>
            </div>
            <!-- SECTION HEADING END -->
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- <h2 class="text-center text-danger"><%=__("Contact Page")%></h2> -->

            <div class="description">
                <h3 class="text-center text-primary">
                Mọi thắc mắc liên lạc xin vui lòng liên lạc qua địa một trong các hòm thư sau.
                </h3>
                <h3 class="text-center text-primary">
                DevSamurai info: <span class="text-success"> info@devsamurai.com </span>
                </h3>
                <h3 class="text-center text-primary">
                Tugi group: <span class="text-success"> tugigroup@gmail.com </span>
                </h3>
            </div>
        </div>
    </div>
</div>