<section class="do-testimonial-section">
    <div class="do-dark-overlay"></div>
    <div class="container">
        <div class="row">
            <!-- SECTION HEADING -->
            <div class="do-section-heading do-section-heading-light">
                <h1><%=__("Guide Page")%></h1>
            </div>
            <!-- SECTION HEADING END -->
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="description">
                <h2>
                Tour view cho người dùng chưa đăng ký account
                </h2>
                <div class="library-page-line"></div>
                <p class="">
                kantan.vn không phát huy được hết chức năng trong trường hợp người dùng không đăng kí tài khoản.
                Tuy nhiên khi chưa đăng kí tài khoản bạn vẫn có thể xem được một số tài liệu và chức năng của kantan.vn
                <a href="/japtool/viewtour"><%= __('Click Here To Take Your View Tour') %></a>
                </p>


                <h2>
                Cách đăng ký tài khoản
                </h2>
                <div class="library-page-line"></div>
                <p class="">
                Việc đăng kí tài khoản được thực hiện vô cùng đơn giản. Chỉ cần có địa chỉ mail và nhập tên mật khẩu là tài khoản sẽ được tạo cho bạn. Sau khi đăng kí để xác thực người dùng mail kích hoạt sẽ được gửi đến hòm thư của bạn. Chỉ cần mở link kích hoạt là tài khoản của bạn đã ở trạng thái sẵn sàng để sử dụng.
                <a href="/japtool/user/new"><%= __('register') %></a> 
                </p>

                <h2>
                Cách tìm tài liệu phù hợp và tạo lịch học
                </h2>
                <div class="library-page-line"></div>
                <p class="">
                Sau khi đăng nhập bạn có thể vào trang thư viện tài liệu để chọn các tài liệu phù hợp với mình. Ở trạng thái mặc định tài liệu sẽ được lọc theo trình độ và hiển thị cho bạn. Nêu muốn xem cả các tài liệu khác hãy thay đổi điều kiện tìm kiếm và search lại.
                </p>
                <p class="">
                Bạn có thể xem trước nội dung tài liệu nếu thấy phù hợp thì tạo lịch học và bắt đầu học. 
                Trong quá trình học nếu thấy lịch học không phù hợp thì bạn có thể thay đổi bằng cách cập nhật lại ngày dự định bắt đầu và kết thúc.
                </p>

                <h2>
                Xem tình trạng học của mình
                </h2>
                <div class="library-page-line"></div>
                <p class="">
                Sau khi tạo lịch học cho tài liệu mình ưa thích, trạng thái của từng bài trong tài liệu và lịch học ước lượng cho bạn sẽ được hiển thị luôn trong trang học cá nhân.</br>
                Hệ thống sẽ gợi ý cho bạn một ngày nên học bao nhiêu. Tốc độ học các bài của bạn nhanh hay chậm.
                Từ trang này bạn có dễ dàng vào thẳng các bài chưa học hoặc học lại các bài đã học.
                </p>

                <h2>
                Cách cập nhật thông tin tài khoản, mật khẩu
                </h2>
                <div class="library-page-line"></div>
                <p class="">
                Vào trang thông tin cá nhân bằng cách click vào tên người dùng được hiển thị ở góc phải trên sau khi đăng nhập. Ở đây bạn có thể thay đổi các thông tin liên quan đến tài khoản của mình như mật khẩu, trình độ đang học,...
                </p>


            </div>
        </div>
    </div>
</div>

<div id="popup-modals"></div>


<script>
    window.onload = function () {
        loadSurvey();
    }

    function loadSurvey(){
        $.ajax({
            url: '/japtool/survey/index',
            type: 'GET',
            success: function (resHtml) {
                if(resHtml){
                    $('#popup-modals').append(resHtml);
                    
                }
            },
            error: function () {
                console.log('Surveys get Error')
            }
        })
    }

</script>