<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/styles/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" href="/styles/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/styles/font-roboto.css">
    <link type="text/css" rel="stylesheet" href="/styles/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="/styles/styles-admin.css">
    <div class="header">
    </div>
</head>
<body>
<div class="header">
</div>
<%- body %>

<div class="footer">
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                © 2015 All Rights Reserved. Terms of use and Privacy Policy
            </div>
        </div>
    </div>
</div>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/dependencies/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/customValidate.js"></script>
<script src="/js/admin-common.js"></script>
</body>
</html>